@import url('https://fonts.googleapis.com/css2?family=Short+Stack&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}


* {
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Short Stack', cursive;
    background-color: rgb(253, 247, 241);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
        url(./img/forest-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

img {
    height: 150px;
}

button {
    font: inherit;
    background-color: transparent;
    color: white;

}

input {
    width: 150px; 
    height: 30px; 
    padding: 5px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    font-size: 14px;
    outline: none; 
    font: inherit;
    text-align: center;
}

#track-container {
    margin: 1.5rem 0;
    background-color: rgb(135, 185, 223);
    width: 1050px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 180px;
    padding-left: 30px;
    border-radius: 15px;
    gap: 45px;
    position: relative;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.445);
}

.track {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;

}

.track1,
.track2 {
    border-bottom: 4px dotted white;
}

#finish-line-img {
    position: absolute;
    transform: scale(1.5);
    right: 170px;
    height: 400px;

}


.track p {
    width: 173px;
    text-align: center;
}

/*  */

.track div {
    position: relative;
    margin-right: 20px;
}

.track p {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}

.duckGif {
    display: block;
    height: 150px;
    z-index: 0;
}

/*  */
/* scoreboard */
#score-container {
    position: absolute;
    background: url('./img/scoreboard.png');
    background-size: cover;
    right: -270px;
    bottom: -50px;
    height: 400px;
    width: 400px;
    z-index: 2;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 70px;
 
}

#score-container p {
    font-size: 3.5rem;
    margin-bottom: 1rem;
    color: rgba(121, 74, 74, 0.952);
}



/* hanging container for the winner */
#hanging-container {
    position: absolute;
    top: -150px;
    height: 500px;
    width: 500px;
    background: url("./img/hanging-board.png");
    background-size: cover;
    display: none; 
    justify-content: center;
    align-items: center;
    color: white;
    padding-top: 50px;
    padding-left: 90px;
    z-index: 3;
}

#hanging-container h3 {
    font-size: 2.5rem;
    color: white;
    text-align: center;
}

#hanging-container button {
    border-radius: 10px;
    padding: 5px 10px;
    border-color: white;
}

#hanging-container button:hover {
    background-color: #45a049; 
}

#buttons {
    display: flex;
    gap: 2rem;
}

#buttons button {
    padding: 20px 40px;
    border-radius: 20px;
    border-color: white;
    background-color: rgba(16, 54, 35, 0.459);
    font-size: 1.3rem;
}

#buttons button:hover {
    background-color: rgba(15, 119, 32, 0.459);
}

.playerName {
    cursor: pointer;
}

#m1, #m2, #m3 {
    margin-right: 25px;
}